:root {
  --red: 230, 76, 26;
  --off-white: 241, 237, 228;
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --background-color: rgb(var(--black));
  --text-color: rgb(var(--black));
}

svg > * {
  fill: currentColor;
}

.red            { background-color: rgb(var(--red)); }
.black          { background-color: rgb(var(--black)); }
.white          { background-color: rgb(var(--white)); }
.off-white      { background-color: rgb(var(--off-white)); }


.red-text       { color: rgb(var(--red)); }
.black-text     { color: rgb(var(--black)); }
.white-text     { color: rgb(var(--white)); }
.off-white-text { color: rgb(var(--off-white)); }
